@import url("//fast.fonts.net/t/1.css?apiType=css&projectid=20d74cc5-7f7c-49a7-80ae-fa2f389c550d");
body,
.default_text_color,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #595859;
}

.outer-container {
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inner-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.inner-container.grid {
  width: auto;
  max-width: 1200px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.light_gray_bg {
  background-color: #f5f6f7;
}

.devil_gray_text {
  color: #666666;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.line.light_gray2 {
  border-bottom: thin solid #e7e7e7;
}

.vertical_padding10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical_padding20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vertical_padding30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.no_padding {
  padding: 0;
}

.top_margin0 {
  margin-top: 0;
}

.top_margin20 {
  margin-top: 20px;
}

.top_margin50 {
  margin-top: 50px;
}

.bottom_margin20 {
  margin-bottom: 20px;
}

.bottom_margin50 {
  margin-bottom: 50px;
}

.top_padding0 {
  padding-top: 0;
}

.top_padding20 {
  padding-top: 20px;
}

.top_padding50 {
  padding-top: 50px;
}

.bottom_padding20 {
  padding-bottom: 20px;
}

.bottom_padding50 {
  padding-bottom: 50px;
}

.block {
  display: block;
}

.lenght70 {
  width: 70%;
}

.full_width {
  width: 100%;
}

.frg-button.color-green:hover {
  text-decoration: none;
}

.frg-select-container::after {
  margin: -5px 7px 0 0;
  color: #49166d !important;
}

.right_align {
  text-align: right;
}

.left_align {
  text-align: left;
}

.sticky,
.stickyFooter {
  width: 100%;
  background-color: #333 !important;
  color: #FFF;
}

.sticky.actions .amounts p,
.stickyFooter.actions .amounts p {
  font-size: 90%;
  margin: 0;
}

.sticky.actions p,
.sticky.actions a,
.stickyFooter.actions p,
.stickyFooter.actions a {
  color: #FFF;
}

.sticky.actions p.h1, .sticky.actions p.h2, .sticky.actions p.h3, .sticky.actions p.h4, .sticky.actions p.h5, .sticky.actions p.h6,
.sticky.actions a.h1,
.sticky.actions a.h2,
.sticky.actions a.h3,
.sticky.actions a.h4,
.sticky.actions a.h5,
.sticky.actions a.h6,
.stickyFooter.actions p.h1,
.stickyFooter.actions p.h2,
.stickyFooter.actions p.h3,
.stickyFooter.actions p.h4,
.stickyFooter.actions p.h5,
.stickyFooter.actions p.h6,
.stickyFooter.actions a.h1,
.stickyFooter.actions a.h2,
.stickyFooter.actions a.h3,
.stickyFooter.actions a.h4,
.stickyFooter.actions a.h5,
.stickyFooter.actions a.h6 {
  color: #FFF !important;
}

.sticky.top_bottom_padding,
.stickyFooter.top_bottom_padding {
  padding-bottom: 10px;
  padding-top: 10px;
}

.sticky.sticky,
.stickyFooter.sticky {
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 99;
}

.left {
  float: left;
}

.right {
  float: right;
}

.form-heading {
  font-size: 33px;
}

.login-notice {
  font-size: 17px;
}

.telus-logo img {
  width: 150px;
}

.frg-input-field {
  border: thin solid #e7e7e7;
}

.registration.icon-user-profile-inverted {
  font-size: 62px;
}

.site-header {
  border-bottom: 1px solid #e2e2e2;
}

.flower {
  margin: 50px 0 0 50px;
  width: 277px;
  height: 277px;
}

.tooltip_bubble::before {
  border-color: #f8dde3 transparent;
  border-style: solid;
  border-width: 0 7px 7px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
  top: -5px;
  width: 0;
}

.tooltip_bubble {
  background-color: #f8dde3;
  color: #333;
  display: none;
  font-family: "tlightregular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-top: 55px;
  padding: 7px;
  position: relative;
}

.status .frg-input-field {
  width: 90%;
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.status .frg-icon {
  border-top: thin solid #e7e7e7;
  border-right: thin solid #e7e7e7;
  border-bottom: thin solid #e7e7e7;
  border-radius: 0 2px 2px 0;
  margin-top: 2px;
  padding: 2px 5px 3px;
  height: 44px;
  width: 10%;
}

.status .frg-icon.icon-warning-inverted {
  color: red;
}

.status .frg-icon.icon-checkmark-inverted {
  color: green;
  padding: 2px 5px;
}

.status.negative .frg-input-field {
  border-top: thin solid red;
  border-left: thin solid red;
  border-bottom: thin solid red;
}

.status.negative .frg-icon {
  border-top: thin solid red;
  border-right: thin solid red;
  border-bottom: thin solid red;
}

.status.negative .tooltip_bubble {
  display: block;
}

.status.positive .frg-input-field {
  border-top: thin solid green;
  border-left: thin solid green;
  border-bottom: thin solid green;
}

.status.positive .frg-icon {
  border-top: thin solid green;
  border-right: thin solid green;
  border-bottom: thin solid green;
}

.status.positive .tooltip_bubble {
  display: none;
}

body {
  font-size: 17px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #FFF;
}

ol,
ul {
  list-style: disc;
  margin-left: 15px;
}
