@import "variables";
@import "mixins";

/* Very small devices (smartphones, 767px and down) */
@media ( max-width: $screen-xs-max ) {
	.smartphone {
		display: block;
	}

	.tablet,
	.desktop,
	.large_desktop {
		display: none;
	}

	.header_bg {
		height: auto;

		.outer-container {
			padding: 0 9px;

			width: auto !important;
			max-width: auto !important;
			min-width: auto !important;
			overflow: hidden;

			.inner-container {
				margin: 0;
				width: auto !important;
				max-width: auto !important;
				min-width: auto !important;
			}
		}
	}

	.outer-container {
		padding: 1px 9px;

		.inner-container {
			width: auto;
			min-width: auto;
		}
	}

	.header {
		padding: 15px 0 0px;

		img.logo {
			height: 25px;
		}

		nav {
			margin: 15px 0 0 0;

			ul {
				li {
					a {
						padding: 0 0 16px 0;

						&.current {
							border-top: none;
							border-bottom: 6px solid $green;
							padding: 0 0 10px 0;

							&:hover {
								border-top: none;
								border-bottom: 6px solid $green;
								padding: 0 0 10px 0;
							}
						}

						&:hover {
							border-top: none;
							border-bottom: none;
							padding: 0 0 16px 0;
						}
					}
				}
			}
		}
	}

	.header_bg {
		.inner-container {
			width: auto;
			min-width: auto;
		}
	}

	.secondary_bg, 
	.main_content {
		.box {
			width: auto;
			min-height: auto;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto !important;
			margin-right: auto !important;

			.top {
				.description {
					margin: -5px 0 10px;
					line-height: 1;
				}
			}
		}
	}

	.dropit .dropit-submenu {
		position: relative;
	}

	.secondary_bg {
		border-top: thin solid #cccccc;
	}

	.user_name {
		color: $purple2;

		.icon-arrow-down {
			color: $purple2;
		}
	}

	.main_banner > div:first-child {
		margin: 20px 0;
		width: auto;

		p {
			line-height: 1.2;
		}

		& > .frg-button {
			width: 100%;
		}
	}

	.fish_bowl, 
	.birds, 
	.macbook {
		width: auto;
		height: auto;
		text-align: center;
		padding: 10px 0 20px;
		margin-top: -20px;
		float: none;

		img {
			width: 290px;
			height: auto;
		}
	}

	.ticket_number_status {
		padding: 5px 0 110px 0;
	}

	.frg-button {
		&:hover {
			background-image: linear-gradient( $white 0%, $white 90%, $disabled_gray 90%, $disabled_gray );
			color: $purple4;
		}

		&.color-green:hover {
			background-color: $green;
			background-image: linear-gradient( $green 0%, $green 90%, #408000 90%, #408000);
		}

		&.color-purple:hover {
			background-color: $purple4;
			background-image: linear-gradient( $purple4 0%, $purple4 90%, $purple2 90%, $purple2 );
		}
	}

	.select {
		&.frg-button {
			&:hover {
				background-color: $white !important;
				color: $purple_link;
			}
		}
	}

	.content {
		nav {
			ul {
				li {
					a {
						&:hover {
							border-bottom: none !important;
						}

						&.current {
							&:hover {
								border-bottom: 6px solid $purple2 !important;
							}
						}
					}
				}
			}
		}

		.box {
			&.phone {
				.description {
					.mtm {
						.frg-button {
							&:hover {
								background-color: $white !important;
								color: $purple4;
							}

							&.current {
								&:hover {
									background-color: $purple;
								}
							}
						}
					}
				}
			}
		}

		&.shadow {
			box-shadow: none;
		}
	}

	.row {
		margin: 0;

		.service {
			&.object:first-child {
				margin-top: 10px;
			}

			.select.current.frg-button:hover {
				background-color: $purple !important;
			    background-image: none;
			    color: $third_bg;
			}
		}
	}

	.accessory {
		border-bottom: thin solid #d8d8d8;
		padding: 25px 0;
		margin: 0;

		&.separator {
			border-left: none;
		}

		&:last-child {
			border: none;
		}

		.bottom_section {
			width: auto;
			margin-top: 40px !important;
		}

		img {
			width: auto;
			height: auto;
		}
	}

	.pagin {
		font-size: 80%;
	}

	.stickyFooter {
		.previous {
			font-size: 80%;
			margin-top: 10px;
		}

		.frg-button {
			font-size: 100%;
		}
	}

	.separation {
		border-bottom: none;

		&.secondary_bg {
			border-top: none;
		}
	}

	.plans, 
	.plans2, 
	.upgrades_plans {
		.plan {
			h5 {
				height: auto;
				font-size: 120%;
			}

			h6 span {
				font-size: 30px;
			}

			.select {
				margin-bottom: 10px;

				&.frg-button:hover {
					color: $purple;
				}
			}

			& > div.vertical_gap.big_gap {
				margin-bottom: 15px;
			}
		}
	}

	.sub_footer {
		width: auto;
	}

	.section_title.advanced_search {
		font-size: 120%;
	}

	.advanced_search {
		.frg-icon {
			margin: 0 -35px 0 10px;
		}
	}

	.phone_features {
		text-align: center;

		.tagline {
			margin: 0 !important;
			padding: 10px 0 0 0 !important;
		}
	}

	.purple_bg .white_bg section > div.cell:nth-child(2) {
		border-top: 2px solid $very_light_gray;
		border-left: none;
	}

	.purple_bg .white_bg section:nth-child(3) {
		border-bottom: none;
		padding-bottom: 20px;

		img {
			width: 250px;
		}
	}

	.purple_bg .white_bg section > div.large-cell {
		padding: 20px 0 5px 0;
	}

	.purple_bg .white_bg section > div.cell {
		padding: 20px 0 50px 0;
	}

	.content {
		&.product_header {
			padding: 0;
		}
	}

	.product_header {
		padding: 0;

		p.h1 {
			font-size: 24px !important;
			margin: 15px 0 0 0;
		}
	}

	.phone_details.image a {
		height: 365px;

		img {
			height: 350px;
		}
	}
}