@import "variables";
@import "mixins";

/* Small devices (tablets, 768px and up) */
@media ( min-width: $screen-sm-min ) and ( max-width: $screen-sm-max ) {
	.tablet {
		display: block;
	}

	.smartphone,
	.desktop,
	.large_desktop {
		display: none;
	}

	.price,
	.prices {
		font-size: 22px;
	}

	.secondary_bg, 
	.main_content {
		.box {
			width: auto;
			min-height: auto;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto !important;
			margin-right: auto !important;
		}

		nav ul li a {
			&.current {
				&:hover {
					border-bottom: 6px solid $purple2 !important;
					padding: 0 0 9px;
				}
			}

			&:hover {
				border-bottom: none !important;
				padding: 0 0 15px;
			}
		}
	}

	.main_banner > div:first-child {
		margin: 0;
	}

	.fish_bowl,
	.birds,
	.macbook {
		float: right;
	}

	.header {
		nav {
			ul {
				li {
					a {
						&.current {
							border-top: 6px solid $green;
							padding-top: 24px;

							&:hover {
								border-top: 6px solid $green;
								padding-top: 24px;
							}
						}

						&:hover {
							border-top: none;
							padding-top: 30px;
						}
					}
				}
			}
		}
	}

	.header_bg {
		overflow: hidden;
		
		.inner-container {
			width: auto;
			min-width: auto;
		}
	}

	.banner {
		padding-bottom: 20px;
	}

	.ticket_number_status {
		padding: 10px 0 0 0;

		input,
		.frg-button {
			width: 100% !important;
		}

		.frg-button {
			margin: 10px 0 0 0;
		}
	}

	.frg-button {
		&:hover {
			background-image: linear-gradient( $white 0%, $white 90%, $disabled_gray 90%, $disabled_gray );
			color: $purple4;
		}

		&.color-green:hover {
			background-color: $green;
			background-image: linear-gradient( $green 0%, $green 90%, #408000 90%, #408000);
		}

		&.color-purple:hover {
			background-color: $purple4;
			background-image: linear-gradient( $purple4 0%, $purple4 90%, $purple2 90%, $purple2 );
		}
	}

	.select {
		&.frg-button {
			&:hover {
				background-color: $white !important;
				color: $purple_link;
			}
		}
	}

	.content {
		nav {
			ul {
				li {
					a {
						&:hover {
							border-bottom: none !important;
						}

						&.current {
							&:hover {
								border-bottom: 6px solid $purple2 !important;
							}
						}
					}
				}
			}
		}

		.box {
			&.phone {
				.description {
					.mtm {
						.frg-button {
							&:hover {
								background-color: $white !important;
								color: $purple4;
							}

							&.current {
								&:hover {
									background-color: $purple;
								}
							}
						}
					}
				}
			}
		}
	}

	.row {
		margin: 0;
	}

	.accessory {
		border-bottom: thin solid #d8d8d8;
		padding: 35px 35px;
		margin: 0 auto;

		&.separator {
			border-left: none;
		}

		&:last-child {
			border: none;
		}
	}

	.inner-container {
		margin-left: auto;
		margin-right: auto;
	}

	.sub_footer {
		width: 400px;
	}

	.advanced_search {
		padding-right: 33px;

		.frg-icon {
			margin: 0 -35px 0 10px;
		}
	}

	.phone_features {
		text-align: center;

		.tagline {
			margin: 0 !important;
			padding: 10px 0 0 0 !important;
		}
	}

	.purple_bg .white_bg section > div.cell:nth-child(2) {
		border-top: 2px solid $very_light_gray;
		border-left: none;
	}

	.purple_bg .white_bg section:nth-child(3) {
		border-bottom: none;
		padding-bottom: 20px;
	}

	.confirmation.outer-container > .inner-container:first-child, 
	.confirmation2.outer-container > .inner-container:first-child {
		background: none;
	}

	.order_management table tr:nth-child(2n) {
		background-color: $white;
	}
}