@import "variables";
@import "mixins";

/* Small devices (tablets, 768px and up) */
@media ( min-width: $screen-sm-min ) and ( max-width: $screen-sm-max ) {
	.tablet {
		display: block;
	}

	.smartphone,
	.desktop,
	.large_desktop {
		display: none;
	}

	.price,
	.prices {
		font-size: 22px;
	}

	.secondary_bg, 
	.main_content {
		.box {
			min-height: auto;
		}
	}

	.secondary_bg, 
	.main_content {
		.box {
			width: auto;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	.main_banner > div:first-child {
		margin: 0;
	}

	.fish_bowl,
	.birds,
	.macbook {
		float: right;
	}

	.header_bg {
		overflow: hidden;
		
		.inner-container {
			width: auto;
			min-width: auto;
		}
	}

	.banner {
		padding-bottom: 20px;
	}

	.ticket_number_status {
		padding: 10px 0 0 0;

		input,
		.frg-button {
			width: 100% !important;
		}

		.frg-button {
			margin: 10px 0 0 0;
		}
	}
}